<footer>
    <div class="contact-info">
        <div class="contact-title">
            <a href="index"><img src="post-its.png" alt="Page logo of Post-it notes" width="64" height="64"/></a>
            <h2>Homework 4</h2>
        </div>
        <p>© WAD 2021, by Rasmus Lääne, Maiko Mõtsar, Janeli Õun</p>
    </div>
    <div class="nav">
        <h5>Links:</h5>
        <div class="links">
            <a href="/posts">Posts </a>
            <a href="/addnewpost">Add new post</a>
            <a href="/singlepost">View single post</a>
        </div>
    </div>
</footer>
