<header>
    <div class="nav">
        <a href="index"><img src="post-its.png" alt="Page logo of Post-it notes" width="40" height="40"/></a>
        <div class="search-container">
            <form action="#">
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="dropdown">
            <button><img src="user.png" onclick="myFunction()" class="dropbtn" width="32" height="32"></button>
            <div id="myDropdown" class="dropdown-content">
            <p>John Doe</p>
            <p>john.doe@example.com</p>
            <a href="login.html">Log in</a>
            </div>
            <div class="nav2">
                <a href="/posts">Posts </a> |
                <a href="/addnewpost">Add new post</a> |
                <a href="/singlepost">View single post</a>
            </div>
        </div>
    </div>
</header>