<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>
        Homework 4 – <%= title %>
    </title>
</head>
<body>

<%- include('./partials/navbar.ejs') %>

<div class="main-flex-container">
    <h1>This page does not exist</h1>
    <p>We suggest you go back to our landing page</p>
    <a href="/">
        <button class="btn-blue">Landing page</button>
    </a>
</div>

<%- include('./partials/footer.ejs') %>
</body>
</html>

