<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=>, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" href="/style.css">
<title>
    Homework 4 – <%= title %>
</title>
<body>

<%- include('./partials/navbar.ejs') %>

<div class="main-flex-container">

    <div class="create-post">
        <form action="/posts" method="POST">
            <label for="name">Poster name:</label>
            <input class="newpost" type="text" id="name" name="name" placeholder="Insert your name" required><br><br>
            <label for="date">Post datetime:</label>
            <input class="newpost"type="text" id="date" name="date" placeholder="DD/MM/YYYY HH:MM" required><br><br>
            <label for="body">Post body:</label>
            <input class="newpost" type="text" id="body" name="body" placeholder="Post body" required><br><br>
            <label for="likes">Initial likes:</label>
            <input class="newpost" type="text" id="likes" name="likes" value="0"><br><br>
            <button class="btn-blue">Submit</button>
        </form>
    </div>

</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>
