* {
    font-family: 'PT Serif', serif;
    text-decoration: none;
}

body {
    background-color: #095ca4;
}

h1 {
    color: #063662;
    font-size: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav {
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    z-index: 2;
}

.nav2 {
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 24px;
    z-index: 2;
}

.nav2 > a {
    color: #0055aa;
    text-decoration: none;
    line-height: 200%;
}

.nav2 > a:hover{
    color: #4b9cfa;
}

/* Descendant selector */
.nav form {
    display: flex;
    flex-flow: row nowrap;
    width: 45vw;
}

.nav input {
    padding: 6px;
    font-size: small;
    border: 1px solid #d0d0d0;
    flex-grow: 10;
}


.main-flex-container {
    margin: auto;
    margin-top: 104px;
    background-color: whitesmoke;
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    padding: 3vw 4vw 4vw;
    position: relative;
    border-radius: 4px;
    gap: 16px;
}


.flex-items {
    border-radius: 8px;
    box-shadow: 0px 4px 24px -4px #adb1b7;
}

.flex-items-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.flex-items-avatar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.flex-items-avatar > p{
    padding-left: 8px;
}

.w-40{
    width:40px;
}

.flex-items-content {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    padding: 16px;
}

.flex-items-image {
    width: 100%;
    height: auto;
}


/* Child selector */
.flex-items-avatar > button {
    font-size: 20px;
    width: 56px;
    height: 32px;
    background-color: #225791;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex-items-avatar > button:hover {
    background: #063662;
}

.flex-items-avatar > button:disabled {
    background: #a0a0a0;
}


a > button {
    font-size: 16px;
    color: whitesmoke;
    width: 160px;
    height: 40px;
    background-color: #225791;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:40px;
    text-decoration: none;
}

a > button:hover {
    background: #063662;
}

.container{
    position: relative;
}

.btn-white {
    display: block;
    color: #063662;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    text-decoration-style: unset;
}

.btn-white:hover {
    background: white;
}

.logincontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-flow: column;
}

.loginform {
    position: relative;
    border-radius: 10px;
    margin: auto;
    min-height: 400px;
    min-width: 360px;
    width: 55vw;
    height: 55vh;
    max-height: 480px;
    max-width: 440px;
    background-color: white;
    margin-top: 15vh;
}

.loginform img {
    position: absolute;
    top: 5px;
    left: 5px;
}

.loginheader {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    font-size: large;
}

.fieldset {
    margin: auto;
    padding: 20px;
}

div.loginform input {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    border: solid 1px #063662;
    padding: 5px;
    color: #063662;
}

div.loginform a {
    font-size: small;
    text-decoration: none;
}


/* Pseudo-element */

input::placeholder {
    color: #225791;
    font-size: 1em;
}


/* Adjacent Sibling Selector */
input + button {
    color: white;
    background: #225791;
    font-size: small;
    border: none;
    padding: 4px 24px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}


/* Pseudo-class */
input + button:hover {
    background: #063662;
}


/* General Sibling Selector */
.flex-items-avatar ~ p {
    color: #adb1b7;
    font-size: 12px;
}


.dropdown {
    position: relative;
    display: inline-block;

}

/* Yl7 */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 20px;
    padding: 16px;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Yl7 */
.dropdown-content a {
    color: black;
    padding: 16px 0px;
    text-decoration: none;
    display: block;
}

/* Yl7 */
.dropdown-content p {
    color: black;
    padding: 8px 0px;
    text-decoration: none;
    display: block;
}

/* Yl7 */
.dropbtn {
    background: whitesmoke;
    display: block;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Yl7 */
.show {
    display: block;
}

footer {
    background-color: #063662;
    display: flex;
    left: 0;
    right: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 40px 24px;
    color: #efefef;
    margin-top: 80px;
    bottom: 0;
}

.contact-title {
    display: flex;
    left: 0;
    right: 0;
    flex-flow: row nowrap;
    align-items: center;
}

.contact-info > p {
    padding-left: 80px;
    max-width: 240px;
    line-height: 130%;
}

.flex-items-content > p {
    line-height: 130%;
}

.left16 {
    padding-left: 16px;
}

.navfoot {
    padding-top: 24px;
    display: flex;
    left: 0;
    right: 0;
    flex-flow: row nowrap;
}

h5 {
    line-height: 200%;
    padding-right: 16px;
    font-weight: 400;
}

.links {
    display: flex;
    left: 0;
    right: 0;
    flex-flow: column nowrap;
    width: 15vw;
}

.links > a {
    color: #4b9cfa;
    text-decoration: none;
    line-height: 200%;
}

.links > a:hover{
    color: #bbdbff;
}
